<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:layout name="Default" />
	<f:section name="Default">
		<!-- theme_bootstrap: Templates/Theme/SidebarContentMenu.html [begin] -->

		<div id="templateSidebarContentMenu">
			<div class="row">

				<!--
					Pay attention to the responsive behaviour!
					The menu column will slide to top and the sidebar to bottom
					when it switch into mobile view.  -->

				<!-- Firstly the menu column, because Bootstrap not allows to pull/push xs and col-12 -->
				<div id="contentMenu" class="col-md-2 col-md-push-10">
					<f:alias map="{col_md:2}">
						<f:render partial="Content/Menu" section="Default" arguments="{_all}" />
					</f:alias>
				</div>
				<div id="contentMain" class="col-md-7 col-md-push-1">
					<f:alias map="{col_md:7}">
						<f:render partial="Content/Main" section="Default" arguments="{_all}" />
					</f:alias>
				</div>
				<aside id="contentSidebar" class="col-md-3 col-md-pull-9">
					<f:alias map="{col_md:3}">
						<f:render partial="Content/Sidebar" section="Default" arguments="{_all}" />
					</f:alias>
				</aside>

			</div>
		</div>

		<!-- theme_bootstrap: Templates/Theme/SidebarContentMenu.html [end] -->
	</f:section>
</div>