{namespace theme=KayStrobach\Themes\ViewHelpers}
<!-- theme_bootstrap: Layouts/Default.html [begin] -->
<div id="layoutDefault" class="body-bg">
        
        <f:render partial="Area/Menu" section="Default" arguments="{_all}" />
        	
	<div class="container">
		<section id="areaFeature" class="page-header">
			<f:cObject typoscriptObjectPath="lib.content.feature"   data="{fluid:'{fluid}',col_xs:'{col_xs}',col_sm:'{col_sm}',col_md:'{col_md}',col_lg:'{col_lg}'}"/>
		</section>

		<main id="areaMain" class="main-section">
			<f:if condition="{theme:constant(constant: 'themes.configuration.menu.breadcrumb.enable')}>0">
			<div id="menuBreadcrumbWrapper">
				<span><f:translate key="breadcrumb_label" /></span>
				<f:cObject typoscriptObjectPath="lib.menu.breadcrumb" />
			</div>
			</f:if>
			<f:render section="Default" />
		</main>

		<section id="areaExtended">
			<f:cObject typoscriptObjectPath="lib.content.extended"   data="{fluid:'{fluid}',col_xs:'{col_xs}',col_sm:'{col_sm}',col_md:'{col_md}',col_lg:'{col_lg}'}" />
		</section>
	</div>

	<f:render partial="Area/Footer" section="Default" arguments="{_all}" />
</div>
<!-- theme_bootstrap: Layouts/Default.html [end] -->